$body-font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;

//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
//$root-font-size: 16px;         // Base font-size for rems
//$body-line-height: 1.4;
//$content-line-height: 1.5;
//$body-heading-line-height: 1.15;

////
//// Colors
////

//$white: #fff;

//$grey-dk-000: #959396;
//$grey-dk-100: #5c5962;
//$grey-dk-200: #44434d;
//$grey-dk-250: #302d36;
//$grey-dk-300: #27262b;

$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;

$purple-000: #7253ed;
$purple-100: #5e41d0;
$purple-200: #4e26af;
$purple-300: #381885;

$blue-000: #2c84fa;
$blue-100: #2869e6;
$blue-200: #264caf;
$blue-300: #183385;

$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;

$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;

$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;

$mageops-blue: #4169FA;
$mageops-cyan-100: #47DFC3;
$mageops-cyan-200: #1fc1a4;
$mageops-cyan-300: #26bfa3;
$magesuite-orange: #ED6633;
$magesuite-blue: #114399;
$magesuite-blue-600: #eff3fa;
$magesuite-blue-800: #f5f7fc;

$body-background-color: $white;
$search-background-color: $white;
$table-background-color: $white;

$sidebar-color: $magesuite-blue-800;
$code-background-color: $magesuite-blue-800;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $mageops-cyan-200;
$btn-primary-color: $mageops-cyan-300;
$base-button-color: #f7f7f7;