@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

$body-font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
//$root-font-size: 16px;         // Base font-size for rems
//$body-line-height: 1.4;
//$content-line-height: 1.5;
//$body-heading-line-height: 1.15;

////
//// Colors
////

//$white: #fff;

//$grey-dk-000: #959396;
//$grey-dk-100: #5c5962;
//$grey-dk-200: #44434d;
//$grey-dk-250: #302d36;
//$grey-dk-300: #27262b;

$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;

$purple-000: #7253ed;
$purple-100: #5e41d0;
$purple-200: #4e26af;
$purple-300: #381885;

$blue-000: #2c84fa;
$blue-100: #2869e6;
$blue-200: #264caf;
$blue-300: #183385;

$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;

$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;

$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;

$mageops-blue: #4169FA;
$mageops-blue-000: $mageops-blue;
$mageops-blue-100: darken(desaturate($mageops-blue-000, 3%), 3%);
$mageops-blue-200: darken(desaturate($mageops-blue-100, 3%), 3%);
$mageops-blue-300: darken(desaturate($mageops-blue-200, 3%), 3%);
$mageops-blue-400: darken(desaturate($mageops-blue-300, 3%), 3%);
$mageops-blue-500: darken(desaturate($mageops-blue-400, 3%), 3%);
$mageops-blue-600: darken(desaturate($mageops-blue-500, 3%), 3%);
$mageops-blue-700: darken(desaturate($mageops-blue-600, 3%), 3%);
$mageops-blue-800: darken(desaturate($mageops-blue-700, 3%), 3%);

$mageops-cyan: #47DFC3;
$mageops-cyan-000: $mageops-cyan;
$mageops-cyan-100: darken(desaturate($mageops-cyan-000, 3%), 1%);
$mageops-cyan-200: darken(desaturate($mageops-cyan-100, 2%), 3%);
$mageops-cyan-300: darken(desaturate($mageops-cyan-200, 4%), 4%);

$magesuite-orange: #ED6633;

$magesuite-blue: #114399;

$magesuite-lt-blue-000: #f5f7fc;
$magesuite-lt-blue-100: #eff3fa;

$body-background-color: $white;
$search-background-color: $white;
$table-background-color: $white;

$sidebar-color: $magesuite-lt-blue-000;
$code-background-color: $magesuite-lt-blue-000;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $mageops-cyan-300;
$btn-primary-color: $mageops-cyan-300;
$base-button-color: #f7f7f7;

.text-mageops-blue { color: $mageops-blue-300; }
.text-mageops-cyan { color: $mageops-cyan-300; }

.navigation-list-link.active {
    color: $mageops-blue-400 !important;
}

code.highlighter-rouge {
    color: $mageops-blue-800;
}